.wrapper {
    padding: 20px;
}

.wrapper h3 {
    text-transform: capitalize;
}

.wrapper form button {
    margin: 10px 0;
    cursor: pointer;
}
.test-class{
	border: 2px red solid;
}
.wrapper ul button {
    background: none;
    border: none;
    cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	background-color: #111;
  }
  
  .active {
	background-color: #4CAF50;
  }
    /* for blog page */
  * {
	box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  .nav{
	margin:-20px -20px 0px -20px;
  }
  body {
	font-family: Arial;
	padding: 20px 20px 110px 20px;
	background: #f1f1f1;
  }

  /* Header/Blog Title */
  .header {
	padding: 30px;
	font-size: 40px;
	text-align: center;
	background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
	float: left;
	width: 75%;
	height: auto;
  }
  
  /* Right column */
  .rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
	 background-color: white;
	 padding: 20px;
	 margin-top: 20px;
  }

  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Footer */
  .footer {
	padding: 2px;
	background:  #333;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	height: 60px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {   
	  width: 100%;
	  padding: 0;
	}
  }